.tabs__link {
  background-color: $color__near-white;
  border: 1px solid $color__gray-1;
  border-bottom: none;
  color: $color__gray-3;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1em 2.4em;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s;

  @include large {
    border-bottom: 1px solid $color__gray-1;
    border-left: none;
    display: inline-block;
    font-size: 1rem;
    padding: 0.6em 1.7em;
    position: relative;
    top: 1px;
    width: auto;
  }

  &:hover {
    background-color: $color__gray-1;
    color: $color__gray-4;
  }

  &.is-active {
    background-color: $color__gray-3;
    border: 1px solid $color__gray-3;
    color: $color__white;

    @include large {
      background-color: $color__white;
      border: 1px solid $color__gray-1;
      border-bottom: 1px solid $color__gray-3;
      border-left: none;
      color: $color__gray-3;
    }
  }
}
